<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @buket.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @buket.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @buket.price %>
</p>

<%= link_to 'Edit', edit_buket_path(@buket) %> |
<%= link_to 'Back', bukets_path %>

